/* h1 and other */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*italic */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*in  any project*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/*for this project*/

:root{
    --main-color:#ffc800
}

a{
    text-decoration: none;
    /*without underline*/
    color: white;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: "Montserrat",sans-serif;
}

p,input,textarea{
    font-family: "Roboto Slab", serif;
}
input::placeholder,textarea::placeholder{
    font-family: "Space+Mono" ,sans-serif;
}
li{
    list-style: none;
}
.container{
    margin: auto;
    width: 85%;
    height: 100%;
}

/*header*/
header{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-size:cover;
    background-position-y:-85px;
}
/*navbar*/
.navbar .container{

    display: flex;
    justify-content: space-between;
    /*for right and left*/
    align-items: center;
}
.navbar {
    padding-top:20;
    height:10%;
}

.logoImg img{
  
    width: 200px;
}
.links{
   
    width: 50%;
}
/*links*/
.links ul {
   display: flex;
   justify-content: space-evenly;
}

.links a{
    Font-size: 15.2px;
    Font-weight: 400;
    Line-height: 22.8px;
    text-transform: uppercase;
    transition: 0.5s;
}

.links a:hover{
    color: var(--main-color);
}

.header-content {
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 94%; 
    color: white;
  padding-top: 50px;
}

.header-content p{
   /*  font-family: "Roboto Slab", serif;*/
    Font-size: 36px;

    Font-weight: 400;

    Line-height: 36px;
    font-style: italic;
    margin-bottom: 30px;
}

.header-content h1{
    Font-size: 72px;

    Font-weight: 700;

    Line-height: 72px;

    text-transform: uppercase;
    margin-bottom: 60px;
}

.header-content a{
   
    padding: 20px 40px;
    background-color: var(--main-color);
    Font-size: 18px;

    Font-weight: 700;

    Line-height: 27px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.4s;
}

.header-content a:hover{
background-color: #d9aa00;
}


/*services*/
.services{
    text-align: center;
    padding: 40px;
    height: 100%;
}

.services .container{
    width: 90%;
}

.services h2 {
    Font-size: 40px;
    Font-weight: 700;
    Line-height: 48px;
    text-transform: uppercase;
    margin-top: 50px;
    color: rgb(33, 37, 41);
}

.services p, .contact p{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    font-style: italic;
    color: rgb(108, 117, 125);
    margin-top: 15px;

}

.services .items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.services .items .item h3{
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 28.8px;
}

.services .items .item p{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 28px;
    color: rgb(108, 117, 125);
    font-style: normal;
    width: 100%;
}

.services .items .item{ 
    width: 30%;
    margin: 20px;
}

.services .items .item i{
    color: #fff;
    background-color:var(--main-color);
    padding: 29px;
    border-radius: 100%;
    font-size: 65px;
    margin-bottom: 10px;
}

/*portfolio*/
.portfolio, .team{
   text-align:center;
   background-color: #f8f9fa;
   background-size: 100%;
   padding-top:70px;
   height: 160vh;
}
.portfolio .container{
    width: 90%;
}
.portfolio h2{
     Font-size: 40px;
    Font-weight: 700;
    Line-height: 48px;
    text-transform: uppercase;
    color: rgb(33, 37, 41);
}
.portfolio p{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    font-style: italic;
    color: rgb(108, 117, 125);
    margin-top: 15px;
    margin-bottom: 40px;
}

.portfolio .works{
    display: flex;
    flex-wrap: wrap;
}
.portfolio .works .work{
    width: 31%;
    margin: 10px;
    
}
.portfolio .works .work img{
    width: 100%;
    cursor: pointer;
    
    
}
.portfolio .works .work h3{
    Font-size: 24px;
    Font-weight: 700;   
    Line-height: 36px; 
    color: rgb(33, 37, 41);
    margin-top: 15px;
}
.portfolio .works .work p{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    color: rgb(108, 117, 125);
    font-style: italic;
}

.portfolio .works .work .image{
    position: relative;
}
.portfolio .works .work .image::before{
   content: " ";
   position: absolute;
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 60px;
   font-weight: bold;
   align-content: center;
   cursor: pointer;
   transition: 0.3s;
}
.portfolio .works .work .image:hover:before{
    content: "+";
    background-color: #e6b400;
 }

/*Team*/
.team{
    height: 140vh;
    background-color: #f8f9fa;
}
.team .container{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.team .team-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team  .people{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
}

.team .people .person{
    width: 30.5%;
    margin: 5px;
}
.team h2{
   
    margin-top: 10%;
    Font-size: 40px;
   Font-weight: 700;
   Line-height: 48px;
   text-transform: uppercase;
   color: rgb(33, 37, 41);
}
.team p{
   
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    font-style: italic;
    color: rgb(108, 117, 125);
    margin-top: 15px;
    margin-bottom: 30px;
}

.team .people .person img{
    width: 65%;
    border: 8px solid  rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    
}

.team .people .person h3{
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 28.8px;
    color: rgb(33, 37, 41);
    margin-top: 10px;
    margin-bottom: -15px;
}

.team .people .person p{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 28px;
    Font-color: rgb(108, 117, 125);
    font-style: normal;
    margin-bottom: 5px;
}

.team .people .person .icons i{
    Font-size: 15px;

    Font-weight: 300;

    Line-height: 21px;

    color:#fff ;
    padding: 10px;
    background-color: #212529;
    border-radius: 100%;
    width: 12%;
    margin: 9px;
    
}

.team .people .person .icons i:hover{
   background-color:#4d5154 ;
   cursor: pointer;
}

.team .team-footer p{
    font-style: normal;
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 28px;
    color: rgb(108, 117, 125);
    width: 63%;
}

/*contact*/
.contact{
    height: 100vh;
    text-align: center;
    background-image:url(../images/contact/map-image.png) ;
    background-color: #212529;
    padding-bottom: 15%;
    padding-top: 20px;
}
.contact .container{
    align-items: center;
}
.contact h2{
    Font-size: 40px;
    Font-weight: 700;
    Line-height: 48px;
    text-transform: uppercase;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}
.contact form{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.contact form .inputInner{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.contact form input,textarea{
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.contact form input::placeholder,textarea::placeholder{
    Font-weight: bolder;
    Line-height: 24px;
    font-size: large;
    color: #ced4da;
}
.contact form input:focus,textarea:focus{
    outline: none;
    border: var(--main-color) solid 1px;
}

.contact form textarea{
   height: 100%;
}

.contact .submit{
    padding: 20px 40px;
    background-color: var(--main-color);
    Font-size: 18px;

    Font-weight: 700;

    Line-height: 27px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.4s;
    color: #fff;
    border: none;
}
/*Footer*/
footer{
    width: 100%;
    height: 12%;
}
footer .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

footer .icons i{
   
        Font-size: 16px;
    
        Font-weight: 300;
    
        Line-height: 1px;
    
        color:#fff ;
        padding: 20px;
        background-color: #212529;
        border-radius: 100%;
        width: 21%;
        margin: 9px;
        
}
footer .icons i:hover{
    background-color:#4d5154 ;
    cursor: pointer;
}